* {
  margin-left: 0%;
}

main {
  margin-left: 0.5%;
}


h1 {
  font-size: 50px;
}

ul {
  list-style-position: inside
}

ul,li {
  margin: 0;
  padding: 0
}

table {
  width: 100%;
  margin-top: 30px;
}

thead {
  background-color:dodgerblue;
  color:antiquewhite;
}

h2 {
  color: grey;
  font-size: 15px;
}

h3 {
  color: #FFFFFF;
  font-size: 140%;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

footer {
  margin-top: 30px;
}

.margine-sinistro {
  margin-left: 0.5%;
}

.testo-intestazione {
  color:gray;
}

.autore {
  font-weight: bold;
  font-size: 20px;
}

.nome-autore {
  color:rgb(0, 213, 255);
}

.evidenzia {
  background-color: yellow;
}

.riga-colorata {
  background-color: rgb(173, 248, 248);
}

.colonna-grande {
  width: 50%
}

.box {
  width: 300px;
  height: 200px;
  background-image: url(/img/monitor.jpg);
}

.box-secondary {
  width: 300px;
  height: 200px;
  background-image: url(/img/graph.jpg);
}

#sfondo-logo {
  background-color: #3596eb;
  background-image: url(/img/pattern.png);
  height: 175px;
}

#logo {
  width: 225px;
  padding-top: 100px;
  padding-left: 10px;
}