h1 {
  font-size: 50px;
}

ul {
  list-style-position: inside
}

ul,li {
  margin: 0;
  padding: 0
}

table {
  width: 100%;
}

thead {
  background-color:dodgerblue;
  color:antiquewhite;
}
#colore-logo {
  background-color: #3596eb;
}

#logo {
  width: 200px;
  padding-top: 50px;
}



.testo-intestazione {
  color:gray;
}

.autore {
  font-weight: bold;
  font-size: 20px;
}

.nome-autore {
  color: cornflowerblue;
}

.evidenzia {
  background-color: yellow;
}

.riga-colorata {
  background-color: rgb(173, 248, 248);
}

.colonna-grande {
  width: 50%
}